.startedDiv{
   
    width: 35%;
    position: absolute;
    margin-left: 100px;
    top: 50%;

    padding: 10px;
}

.titleDiv{
    margin-bottom: 20px;
    font-family: Tahoma;
}

.desDiv{
    margin-bottom: 25px;
    font-family: Tahoma;    


}

.btnDiv{
    margin-left: 1px;
}

.radio2{
    margin-top: 15px;
}

/* .........................................FORM */

.container{
    margin-left: 20px;
    flex-direction: column;
}

.field input{
    
    flex-direction: column;
    margin-bottom: 13px;
}
.uiForm{
    flex-direction: column;
}

.uiDivider{
    flex-direction: column;
}

/* ..................HOW IT WORKS.............. */

.howDiv{
    margin-left: 550px;
    margin-top: 100px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.howDes{
    margin-left: -100px;
    align-items: center;
    
}
.howImg img{
    height: 250px;
    margin-right: 70px;

}

.howImg {
    margin-left: -350px;
    margin-top: 40px;

}

.imgCont{
    display: flex;
    margin-top: 30px;
    margin-left: -400px;
    
   
    
}

.imgCont p{
   margin-right: 300px;
   text-align: left;
   padding: 5px;
   display: flex;
   color: red;
   flex-direction: row;
   display: inline-block;
   background: black;
   
  
   text-align: justify;
   
   
   
    
}

/*................................... CUSTOMER EXPERINCE............ */

.cusDiv{
    margin-left: 550px;
    margin-top: 100px;
}
.cusDes{
    margin-left: -100px;
    align-items: center;
    
}


/* ...................CUSTOMER VIDEO............. */
.cusVdo{
    display: flex;
    gap: 50px;
    margin-left: -350px;
    margin-top: 30px;
}

/* ...............FAQ...................... */

.mainFaq{
    margin-top: 150px;
    
}
.titleFaq{
    margin-left: 450px;
}

.accordion{
    margin-left: -10px;
    margin-top: 40px;
    width: 100px;
}

/* .......................CONTACT.................. */

.contactDiv{
    position: absolute;
    margin-top: -12rem;
    
    
}
.coverDiv{
    margin-left: 200px;
    margin-top: 100px;
}