


.mainDiv{
    margin-left: 200px;
    /* background: red; */
}

.overView{
    /* background: yellow; */
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 150px;
    grid-template-columns: repeat(4,10vw);
    display: grid;
   

}

.iconDiv{
    line-height: 2px;
   /* background: gray; */
    display: flex;
    
    margin-right: 70px;
    height: 60px;
    
}

.titlediv{
    margin-top: 10px;
    margin-left: 10px;
   
}

.titlediv p{
    font-family: 'Mukta', sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
    text-align: left;
   
  
    
}

.titlediv span{
   color: gray;
  font-size: 13px;
   

}

.container{
    
    width: 30%;
    margin-left: 55rem;
    margin-top: -210rem;
    /* background: yellow; */
    padding-bottom: 500px;
}

.container1{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
}

/* FORM.................................. */

.uiDivider{
    background: green;
}

.uiForm{
    
}

.field label{
    font-size: 17px;
    font-family: 'Mukta', sans-serif;
    letter-spacing: 1px;
   
}

 .field input{
width: 300px;
height: 40px;
border-radius: 2px;
border-color: #3cb371 ;
border-width: 1px;


}

.field{
    
    
    
    
    }


    .container h3 {
        color: #3cb371;
        margin-left: 65px;
    }


.priceDiv{
    margin-top: 20px;
    font-family: 'Mukta', sans-serif;
   
}    

.priceDiv h5{
    
    font-family: 'Mukta', sans-serif;
   
}  
.priceDiv h5 span{
    
    font-family: 'Mukta', sans-serif;
    font-size: 30px;
   
}  


/* SIDE CARD.................... */

.mainCardDiv{
    /* background: red; */
    width: 25%;
    height: 100rem;
    margin-left: 55rem;
    margin-top: -450px;
    display: flex;
    flex-direction: column;
}



.mainCardDiv img{
   height: 250px;
   width: 300px;
}


/* SIDE CARD ...............*/


.mainDivSml{
    display: flex;
    
    /* background: yellow; */
    margin-top: 50px;

}
.bodyDiv{
   
    /* background: green; */
    padding: 10px;
    
    padding-top: 20px;
}

.bodyDiv h5{
   
    font-family: 'Mukta', sans-serif;
    font-size: 20px;
    color: #3cb371;
}

.bodyDiv h4{
   
    font-family: 'Mukta', sans-serif;
    
    

}

.bodyDiv p{
   
    font-family: 'Mukta', sans-serif;

}

/* FLOOR PLAN................................ */

.mainnDiv{
    margin-top: 100px;
    
   
    
}

.picDiv{
    
    text-align: center;
    margin-top: 70px;
}

.picDiv img{
    
   width: 300px;
}

.dscDiv{
    text-align: center;
}

/* VDO PROPERTY..................... */

.mainDivvv{
    margin-top: 100px;
    
}

.vdoDiv{
    
    text-align: center;
    margin-top: 70px;
    
}

.vdoDiv video{
    object-fit: cover;
}

.my-modal{
    width: 90vw;
    max-width: 90vw;
    background: #32cd32;
}





@media screen and (max-width:700px ){
    .mainDiv{
      background-color: #32cd32;
    }
    
  }