.wrapper{
    width: 100%;
    background-color: transparent;
    
    
   
    
    
    
   

    
}

.megaMenu{
    width: 100%;
    height: 60px;
  
   
    
    
}

.megaMenu ul{
    width: 100%;
    height: 100%;
    text-align: center;
    
    z-index: 5;
    line-height: 60px;
}

.megaMenu ul li{
    display: inline-block;
    margin: 0 20px;
    padding: 0 20px;


    
  
    
}

.megaMenu ul li a{
   text-decoration: none;
   color: grey;
   font-family: 'Ubuntu Condensed', sans-serif;
   
   text-transform: uppercase;
   justify-content: space-around;
   font-size: 16px;
   display: block;
   letter-spacing: 1px;
   
  
}

.megaMenu ul li .subMenu .col img{
   width: 150px;
   height: 150px;
   display: block;
   justify-content: space-around;
   /* box-shadow:5px 5px 5px 0 gray; */
   box-shadow: 5px 5px 15px rgb(0,0,0,0.5);
   
 }

 .megaMenu ul li .subMenu{
    position: absolute;
    width: 80%;
    height: 200px;
    left: 0;
    top: 60px;
   background: #fff;
    padding: 25px 15px;
    display: flex;
    gap: 30px;
    justify-content: space-around;
    visibility: hidden;
    margin-left: 200px;
    z-index: 5;
    margin-top: 30px;
    
  }

  .megaMenu ul li:hover{
background: grey;
  }

.megaMenu ul li:hover a{
    color: white;
      }

.megaMenu ul li:hover .subMenu{
        visibility: visible;
          }      

.megaMenu ul li .subMenu p{
           color: white;
           margin-top: -120px;
           font-size: 14px;
           font-weight: bold;
           justify-content: center;
           text-align: center ;
           display: flex;
           line-height: 25px;
           background: yellow;
          }          

          
.col{
    margin-left: 2px;
    position: relative;
    justify-content: space-between;
    
} 

.logo{
    
    width: 20%;
    height: 60px;
    position: absolute;
    margin-left: 40px;
}

.navMenu{
 
  width: 1200px;
  margin-left: 100px;

}

.megaMenu ul li .subMenu .col a{
background: red;
width: 150px;
height: 150px;
align-items: center;

  
}


.megaMenu ul li .subMenu .col button{
  background: #32cd32;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: azure;
  width: 90px;
  height: 35px;
  border-radius: 20px;  
  border: none;
  text-align: center;
  z-index: 5;
  padding: 0px;
  align-items: center;
  justify-content: center;
  text-align: center;
  vertical-align: top;
    
  }

  /* ...............DROP DOWN BUTTON.................... */


  .dropDiv{
    margin-top: 40px;
    
    display: flex;
    justify-content: space-between;
    height: 20px;
    position: absolute;
    z-index: 5;
    align-items: center;
    
    
    

  }

  .toggleBtn{
    position: absolute;
    top: 50px;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 15px;
  }

  .toggleBtn .bar{
    
    width: 100%;
    height: 3px;
    background: #32cd32;
    border-radius: 10px;
  }


  /* @media screen and (max-width:600px) {
    .toggleBtn{
      display: flex;
    }

    .navMenu{
     display: none;
    }
    
  } */
  

 
 